body {
  background-color: #2a282b;
  color: white;
}

.header {
  display: flex;
  margin-left: 128px;
  gap: 26px;
}

.header_title {
  font-size: 40px;
  font-style: bold;
}

.header_list {
  list-style: none;
  display: flex;
  gap: 64px;
}

.main_container {
  display: flex;
}
