:root {
  --primaryParagraphColor: #b7abab;
  --boldPrimaryParagraphColor: #a897b0;
}

body {
  background-color: #2a282b;
  font-family: "Poppins", sans-serif;
  color: white;
}

.line {
  width: 1201px;
  opacity: 10%;
  margin-bottom: 53px;
}

.main_container {
  display: flex;
  width: 80%;
  margin: auto;
}

.main_container_information {
  padding-left: 43px;
  padding-right: 43px;
}

.main_container_information h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 0;
}

.information_basic {
  color: var(--primaryParagraphColor);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.information_accented {
  color: var(--boldPrimaryParagraphColor);
  font-weight: 600;
}

.red_socials ul {
  list-style: none;
  display: flex;
}
.github {
  position: relative;
  left: 5px;
  bottom: 5px;
}

.skills_container,
.projects_container,
.education_container {
  margin: 0px 10%;
  margin-bottom: 5rem;
}

.skills_list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.skills_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills_list img {
  width: 57px;
}
