:root {
  --primaryParagraphColor: #b7abab;
  --boldPrimaryParagraphColor: #a897b0;
}

body {
  background-color: #2a282b;
  font-family: "Poppins", sans-serif;
  color: white;
}

.header {
  display: flex;
  margin-left: 128px;
  gap: 26px;
}

.header_title {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  width: 157px;
}

.header_title_word {
  font-size: 40px;
  font-style: bold;
  margin: 0;
  height: 33px;
}

.header_bar {
  margin-top: 15px;
}

.header_list {
  list-style: none;
  display: flex;
  padding-left: 0px;
  gap: 64px;
  margin-top: 8px;
}

.header_list li {
  font-weight: 600;
  font-size: 16px;
}
.header_bar span {
  font-weight: bolder;
}

.line {
  width: 1201px;
  opacity: 10%;
  margin-bottom: 53px;
}

.main_container {
  display: flex;
  width: 80%;
  margin: auto;
}

.main_container_information {
  padding-left: 43px;
  padding-right: 43px;
}

.main_container_information h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 0;
}

.information_basic {
  color: var(--primaryParagraphColor);
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.information_accented {
  color: var(--boldPrimaryParagraphColor);
  font-weight: 600;
}

.red_socials ul {
  list-style: none;
  display: flex;
}
.github {
  position: relative;
  left: 5px;
  bottom: 5px;
}

.skills_container,
.projects_container {
  margin: 0px 10%;
}

.skills_list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.skills_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills_list img {
  width: 57px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin-bottom: 0;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.projects_buttons {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 50px 0;
}

.footer_content {
  display: flex;
  justify-content: space-around;
}

.footer_col {
  width: 25%;
}

.footer_col h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #eee;
}

.footer_col ul {
  list-style: none;
  padding: 0;
}

.footer_col ul li {
  margin-bottom: 10px;
}

.footer_col ul li a {
  color: #eee;
  text-decoration: none;
}

.footer_col ul li a:hover {
  text-decoration: underline;
}

.footer_bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer_bottom p {
  color: #eee;
  font-size: 14px;
}
